html {
    background-color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

/* nav styles */
nav {
    background-color: black;
}

nav > a {
    font-size: 20px;
    padding: 30px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    margin-top: auto;
}

nav > a:hover {
    text-decoration: underline;
}

/* body styles */
main {
    background-color: white;
}

.div-lt-gray {
    background-color: #c9c9c9;
}

.div-wt {
    background-color: white;
}

#full-band {
    width: 20%;
}

#intro {
    font-size: 18px;
    font-weight: 500;
}

.unlist {
    list-style-type: none;
}

.unlist > li {
    text-align: left;
    padding: 0 42%;
}

form {
    padding: 20px;
}

form > input {
    padding: 5px;
}

.margin {
    margin: 10px;
}

#submit-button {
    padding: 15px 20px;
    font-size: 16px;
    background-color: black;
    color: white;
    font-weight: 600;
}

#submit-button:hover {
    cursor: pointer;
    padding: 20px 25px;
    font-size: 18px;
}

.table-div {
    padding: 15px 35%;
}

table {
    border-color: black;
    border-style: solid;
    border-width: 5px;
}

td {
    border-bottom-style: solid;
    border-bottom-color: black;
}